<header>
  {{ page.header }}
</header>
  {{ page.breadcrubm }}
<main class="mt-1">
  {{ page.banner }}
  {{ page.content }}
  {{ page.content2 }}
  {{ page.content3 }}
  {{ page.content4 }}
  {{ page.content5 }}
  {{ page.content6 }}
  {{ page.content_node }}
  {{ page.content_list }}
</main>
{{ page.footer }}


<!--
	vim:ft=html
-->

